<section class="auth-container">
    <h2>Saídas</h2>
    <form id="form" action="/finans/exit" method="POST">
        <div class="form-control">
            <label for="text">Titulo</label>
            <input type="text" name="title" placeholder="Digite o título do gasto">
        </div>
       <div class="form-control">
            <label for="number">Valor</label>
            <input type="text" name="value" placeholder="Digite o valor">
        </div>
           <div class="form-control">
            <label for="text">Descrição</label>
            <input type="text" name="description" placeholder="Digite a descrição">
        </div>
           
         <div class="form-control">
            <label for="number">Categoria</label>
           <select id="category" name="category">
          <option value="">Por favor, escolha uma categoria.</option>
           <option value="saude">Saúde</option>
           <option value="lazer">Lazer</option>
           <option value="contas">Contas</option> 
           <option value="comida">Comida</option>
           <option value="outros">Outros</option>
        </select>
           </div>
         <div class="form-control">
            <label for="select">Mês</label>
            <select id="month" name="month">
          <option value="">Mês</option>
           <option value="1">Janeiro</option>
           <option value="2">Fevereiro</option>
           <option value="3">Março</option> 
           <option value="4">Abril</option>
           <option value="5">Maio</option>
           <option value="6">Junho</option>
           <option value="7">Julho</option>
           <option value="8">Agosto</option>
           <option value="9">Setembro</option> 
           <option value="10">Outubro</option>
           <option value="11">Novembro</option>
           <option value="12">Dezembro</option>
        </select>
        </div>
      <input id="btn" type="submit" value="Cadastrar">          
    </form>
</div>
</section>



<section>
<div>
  <h1>Pesquisa de saídas</h1>
  <form action="/finans/all_exit" method="GET">
         <select id="month_search" name="month_search">
          <option value="">Por favor, escolha um mês.</option>
           <option value="1">Janeiro</option>
           <option value="2">Fevereiro</option>
           <option value="3">Março</option> 
           <option value="4">Abril</option>
           <option value="5">Maio</option>
           <option value="6">Junho</option>
           <option value="7">Julho</option>
           <option value="8">Agosto</option>
           <option value="9">Setembro</option> 
           <option value="10">Outubro</option>
           <option value="11">Novembro</option>
           <option value="12">Dezembro</option>
        </select>
          <button class="button_pesquisa" type="submit">Pesquisar</button>
  </form>
</div>
<div class="container_prohibited">

 <table>
        <tr>         
          <th>Título</th>
          <th>Valor</th>
          <th>Descrição</th>
          <th>Categoria</th>
          <th>Ação</th>     
        </tr>
          {{#each exit}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.value}}</td>
          <td>{{this.description}}</td>
          <td>{{this.category}}</td>
            <td> 
            <form action="/finans/remove" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" > <i class="fa-solid fa-xmark"></i> </button>
            </form>
          </td>
        </tr>
          {{/each}}
     </table>

</div>   
</section>