<section>
  <div class="container_prohibited">
    <div>
      <h1>Entradas</h1>
      
      <table>
        <tr>         
          <th>Título</th>
          <th>Valor</th>
          <th>Descrição</th>
          <th>Categoria</th>
          <th>Mês</th>    
           <th>Ação</th>     
        </tr>


        <tr>
          <form class="form-finans" action="/finans/prohibited" method="POST">
          <td><input type="text" name="title" placeholder="Digite o título do gasto"></td>
          <td><input type="text" name="value" placeholder="Digite o valor"></td>
          <td><input type="text" name="description" placeholder="Digite a descrição"></td>
          <td>
          <select <select id="category" name="category">
          <option value="">Por favor, escolha uma categoria.</option>
           <option value="trabalho">Trabalho</option>
           <option value="bicos">Bicos</option>
           <option value="dividendos ou investimentos">Dividendos ou investimentos</option> 
           <option value="devedores">Devedores</option>
           <option value="outros">Outros</option>
        </select>
          </td>
          <td>
          <select id="month" name="month">
          <option value="">Por favor, escolha um mês.</option>
           <option value="1">Janeiro</option>
           <option value="2">Fevereiro</option>
           <option value="3">Março</option> 
           <option value="4">Abril</option>
           <option value="5">Maio</option>
           <option value="6">Junho</option>
           <option value="7">Julho</option>
           <option value="8">Agosto</option>
           <option value="9">Setembro</option> 
           <option value="10">Outubro</option>
           <option value="11">Novembro</option>
           <option value="12">Dezembro</option>
        </select>
          </td>
          <td> 
            <button type="submit" > <i class="fa-thin fa-plus"></i> </button>
          </td>
            </form>
        </tr>

     </table>
    
  </div>
</div>

<section>
<div>
  <h1>Pesquisa de entradas</h1>
  <form action="/finans/all_prohibited" method="GET">
         <select id="month_search" name="month_search">
          <option value="">Por favor, escolha um mês.</option>
           <option value="1">Janeiro</option>
           <option value="2">Fevereiro</option>
           <option value="3">Março</option> 
           <option value="4">Abril</option>
           <option value="5">Maio</option>
           <option value="6">Junho</option>
           <option value="7">Julho</option>
           <option value="8">Agosto</option>
           <option value="9">Setembro</option> 
           <option value="10">Outubro</option>
           <option value="11">Novembro</option>
           <option value="12">Dezembro</option>
        </select>
          <button class="button_pesquisa" type="submit">Pesquisar</button>
  </form>
</div>
<div class="container_prohibited">

 <table>
        <tr>         
          <th>Título</th>
          <th>Valor</th>
          <th>Descrição</th>
          <th>Categoria</th>
          <th>Ação</th>     
        </tr>
          {{#each prohibited}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.value}}</td>
          <td>{{this.description}}</td>
          <td>{{this.category}}</td>
            <td> 
            <form action="/finans/remove" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" > <i class="fa-solid fa-xmark"></i> </button>
            </form>
          </td>
        </tr>
          {{/each}}
     </table>

</div>   
</section>

